NODE_ENV=development
PORT=3000
API_PREFIX=v1
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/serv_ease
JWT_ACCESS_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
